
<div>
  <%= link_to "Home", root_path %>
  <%= link_to "Titles", pages_titles_path %>
  <%= link_to "Authors", pages_authors_path %>
  <%= link_to "Subjects", pages_subjects_path %>
  <%= link_to "Blogs", blogs_path %>
</div>